accelerate
aiofiles
annotated-types
anyio
appnope
asgiref
asttokens
asyncio
attrs
backcall
backoff
bcrypt
beautifulsoup4
black
bleach
cachetools
catalogue
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
coloredlogs
confection
cymem
decorator
defusedxml
Deprecated
diskcache
distro
docopt
durationpy
exceptiongroup
executing
fastapi
fastjsonschema
filelock
flake8
flatbuffers
fsspec
google-auth
googleapis-common-protos
grpcio
h11
hf-xet
httptools
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kubernetes
langcodes
langdetect
language_data
llama_cpp_python
marisa-trie
markdown-it-py
MarkupSafe
matplotlib-inline
mccabe
mdurl
mistune
mlx; sys_platform == "darwin"
mlx-lm; sys_platform == "darwin"
mlx-metal; sys_platform == "darwin"
mmh3
mpmath
murmurhash
mypy_extensions
mysql-connector-python
nbclient
nbconvert
nbformat
networkx
nltk
numpy
oauthlib
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow
pipreqs
platformdirs
pluggy
posthog
preshed
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pulsar-client
pure_eval
pyasn1
pyasn1_modules
pybind11
pycodestyle
pydantic
pydantic_core
pyflakes
Pygments
PyPika
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
shellingham
six
smart_open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
sympy
tenacity
threadpoolctl
tinycss2
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop; sys_platform != "win32"
wasabi
watchfiles
wcwidth
weasel
webencodings
websocket-client
websockets
wrapt
yarg
zipp
pip install dotenv python-dotenv sqlalchemy mysqlclient mysql-connector-python fastapi huggingface-hub sentence_transformers langdetect chromadb sentencepiece